<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cart.css">
    <title>Cart</title>
</head>
<body>
    <div class="container">
        <h1 class="header-name">Cart</h1>
        <div class="list-item">
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Description</th>
                        <th>Product Price</th>
                        <th>Add Count</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data_cart) { %>
                        <% Object.values(data_cart).map((data) => { %>
                        <tr>
                            <td class="prod_id"><%= data.prod_id %></td>
                            <td class="prod_name"><%= data.cart_prod_name %></td>
                            <td class="prod_description"><%= data.cart_prod_description %></td>
                            <td class="prod_price"><%= data.cart_prod_price %>$</td>
                            <td>
                                <div class="add-count-item">
                                    <div class="add-count-btn add-count-decrease">
                                        <p>-</p>
                                    </div>
                                    <div class="add-count-btn add-count-number">
                                        <p>0</p>
                                    </div>
                                    <div class="add-count-btn add-count-increase">
                                        <p>+</p>
                                    </div>
                                </div>
                            </td>
                            <td><a href="/cart/delete/<%= data.cart_id %>" class="delete_cart">Delete</a></td>
                        </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="counter-price-item">
            <div class="count-price-box">
                <p class="count-label">Discount</p>
                <p class="total-price">1.99$</p>
            </div>
            <div class="count-price-box">
                <p class="count-label">Delivery</p>
                <p class="total-price">1.99$</p>
            </div>
            <div class="count-price-box">
                <p class="count-label">Subtotal</p>
                <p class="total-price">1.99$</p>
            </div>
            <div class="count-price-box">
                <p class="count-label">Total</p>
                <p class="total-price">1.99$</p>
            </div>
        </div>
        <div class="operation-paying">
            <div class="operation-paying-section">
                <div class="text-promotion">
                    <small>If you have a promotion code ,please enter it here:</small>
                </div>
                <div class="enter-promo">
                    <span><input type="text" name="promo-code" id="promo-code"><button class="btn-promo-code">Apply Discount</button></span>
                </div>
            </div>
            <div class="btn-operation-cart">
                <form action="/cart/delete_cart" method="post">
                    <button id="checkout" style="width: 100%; text-align:center;">Checkout</button>
                    <% Object.values(customer_id).map((data) => { %>
                    <input type="hidden" name="customer_id" value="<%= data.customer_id %>">
                    <% }) %>
                    <button id="Update_Quantity" type="submit" style="width: 100%; text-align:center;">Clear Cart</button>
                    </form>
                    <a id="Continue_shopping" href="/home/">Continue Shopping</a>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/cart.js"></script>
</body>
</html>