<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Fredoka One', cursive;
        }

        body {
            background-image: url("https://i.pinimg.com/564x/6e/cd/eb/6ecdeb6db0d9daa8128c5a0b50db8db4.jpg");
            background-attachment: fixed;
            background-size: auto;
        }

        .container {
            max-width: 1024px;
            padding: 1em 3em 0 3em;
            margin: 0 auto;
            backdrop-filter: blur(10px);
            overflow: hidden;
            border-radius: 20px;
        }

        .head-text {
            margin: 1rem 0 1rem 0;
        }

        .form-container {
            width: 500px;
            height: auto;
        }

        .form-control {
            padding:1rem 0 1rem 0;
        }

        .form-control input {
            width: 600px;
            height: 50px;
            font-size: 1.4rem;
            border-radius: 10px;
            border: 1px solid #33333349;
            padding: 1rem;
        }
        
        .form-control p {
            padding: 0.6rem 0 0.6rem 0;
            font-size: 1.2rem;
        }

        .form-control button {
            width: 120px;
            height: 60px;
            border:1px solid #333;
            border-radius: 15px;
            cursor: pointer;
            background-color: #fff;
            font-size: 1rem;
            transition: all 0.05s ease-out;
        }

        .form-control .preview-image {
            width: 400px;
            height: 400px;
            border: none;
            border-radius: 15px;
            padding: 1em;
            margin: 2em 0 1em 0;
            background-color: buttonface;
        }

        .form-control .preview-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .form-control button:hover {
            box-shadow: 0 0 12px #33333348;
        }

        .form-control button:active {
            background-color: #333;
            color: #fff;
        }

        .return-admin {
            text-decoration: none;
            color: #333;
            padding: 1rem;
            border-bottom: 1px solid #333;
            margin-top: 2rem;
            transition: all 0.06s ease-in;
        }

        .return-admin:hover {
            border-bottom: 3px solid #333;
            background-color: #33333318;
        }

        .return-admin:active {
            background-color: #333;
            color: #fff;
        }
    </style>
    <link rel="icon" href="../img/icon_header.png" />
    <title>BearFood - Edit Product</title>
</head>
<body>
    <div class="container">
        <h1 class="head-text">Edit Product Data</h1>
        <hr>
        <div class="form-container">
            <form action="/product/editProduct" method="post">
                <% Object.values(data).map((data) => { %>
                <input type="hidden" name="prod_id" value="<%= data.prod_id %>">
                <div class="form-control">
                    <p>Name</p>
                    <input type="text" name="prod_name" id="edit_prod_username" value="<%= data.prod_name %>">
                </div>
                <div class="form-control">
                    <p>Description</p>
                    <input type="text" name="prod_description" id="edit_prod_fname" value="<%= data.prod_description %>">
                </div>
                <div class="form-control">
                    <p>Price</p>
                    <input type="text" name="prod_price" id="edit_prod_lname" value="<%= data.prod_price %>">
                </div>
                <div class="form-control">
                    <p>Image Url</p>
                    <input type="text" name="prod_image" class="edit_image" value="<%= data.prod_image %>">
                    <div class="preview-image">
                        <img src="<%= data.prod_image %>" alt="preview" class="preview">
                    </div>
                    <strong>Preview Image</strong>
                </div>
                <% }) %>
                <div class="form-control">
                    <button type="submit">Done</button>
                </div>
                <div class="form-control">
                    <a href="/home/products" class="return-admin">Return To Product Manager</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script>
        const update_data_form = document.querySelector('form');
        let image_url = document.querySelector(".edit_image");
        let preview_image = document.querySelector('.preview')

        update_data_form.addEventListener('submit', (event) => {
            event.preventDefault()
            Swal.fire({
                title: "Do you want to save the changes?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Save",
                denyButtonText: `Don't save`,
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire("Saved!", "", "success");
                    setTimeout(() => {
                        update_data_form.submit()
                    },2000)
                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                    return false;
                }
            });
            console.log(event.target);
        })

        image_url.addEventListener('input', (event) => {
            event.preventDefault()
            preview_image.src = event.target.value;
        })
    </script>
</body>
</html>