<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BearFood - Home</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="icon" href="../img/icon_header.png" />
    <!-- font awesome -->
  </head>
  <body>
    <% if (customer || seller) { %>
    <%- include('navbar') %>
    <% } %>
    <header>
      <% if (customer || seller) { %>
      <div class="welcome-block">
        <% if (seller) { %>
        <h1>Welcome ,<%= seller %></h1>
        <p style="line-height: 40px; font-size: 1.2em">
          Let's to explore heaven of food'
        </p>
        <% } else if (customer) { %>
        <h1>Welcome ,<%= customer %></h1>
        <p style="line-height: 40px; font-size: 1.2em">
          Let's to explore heaven of food'
        </p>
        <% } else { %>
        <div></div>
        <% } %>
      </div>
      <div class="large-header">
        <div class="left-text-header">
          <h4>SHOP ONLINE EXCLUSIVES</h4>
          <h2>BODY HANDING</h2>
          <button class="container-more-info">More Info</button>
        </div>
        <div class="right-image-header">
          <img
            src="https://cdn.pixabay.com/photo/2017/01/11/11/33/cake-1971552_960_720.jpg"
            alt="item"
            id="item"
          />
        </div>
      </div>
      <div class="nav-category">
        <a href="/home/" class="btn-category">All Product</a>
        <a href="/home/best_product" class="btn-category">Best Product</a>
        <a href="/home/recommend" class="btn-category">Recommend</a>
      </div>
    </header>
    <section>
        <% Object.values(product_data).map((data) => { %>
        <form action="/cart/adding-cart" method="post" align="center" class="adding-item">
        <div class="item-section">
            <input type="hidden" name="customer_id" value="<%= customer_id %>" />
            <input
            type="hidden"
            name="prod_id"
            value="<%= data.prod_id %>"
            class="id_product"
            />
            <input type="hidden" name="cart_prod_name" class="cart_prod_name" value="<%= data.prod_name %>">
            <input
            type="hidden"
            name="prod_description"
            value="<%= data.prod_description %>"
            class="description_product"
            />
            <input type="hidden" name="cart_prod_date" value="" class="cart_prod_date">
            <input type="hidden" name="prod_price" class="cart_prod_price" value="<%= data.prod_price %>">
            <img
            src="<%= data.prod_image %>"
            alt=""
            />
            <p class="name-product"><%= data.prod_name %></p>
            <strong class="price_product"
            >$<%= data.prod_price %></strong
            >
        <% if (customer) { %>
            <button class="add-to-cart" type="submit">Add to Cart</button>
        <% } %>
        </div>
        </form>
        <% }) %>
    </section>
    <% } else { %>
    <div class="ifNotLogin">
        <img src="https://cdn-icons-png.flaticon.com/512/2098/2098318.png" alt="">
        <h1>Welcome To BearFood Dot Com</h1>
        <p>Please Login before Visit Web Page</p>
        <a href="/users/login_customer" class="login">Login</a>
    </div>
    <% } %>
    <% if (customer || seller) { %>
        <%- include('footer') %>
    <% } %>
    <%- include('sweetalert_script') %>
    <script src="../js/home.js"></script>
  </body>
</html>
