<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/promotion.css">
    <link rel="icon" href="http://pm1.narvii.com/6750/effb75eea9a6419839e5f8f18fdbad9721115ac4v2_00.jpg">
    <link rel="stylesheet" href="../OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <title>BearFood - Promotion</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="owl-carousel">
        <div>
            <img src="../img/อาหาร.jpg" alt="">
        </div>
        <div>
            <img src="../img/อาหาร43.jpg" alt="">
        </div>
        <div>
            <img src="../img/อาหาร40.jpg" alt="">
        </div>
        <div>
            <img src="../img/อาหาร19 - Copy.jpg" alt="">
        </div>
        <div>
            <img src="../img/อาหาร32.jpg" alt="">
        </div>
    </div>
    <div class="float-caption">
        <h2>SALE!!!</h2>
        <h3>FOOD MENU</h3>
        <h3>BEST <span>DEAL</span></h3>
    </div>
    <div class="list-promotion-item">
        <% Object.values(products).map((data) => { %>
        <form action="/cart/adding-cart" method="post">
            <input type="hidden" name="customer_id" value="<%= customer_id %>" />
            <input
                type="hidden"
                name="prod_id"
                value="<%= data.prod_id %>"
                class="id_product"
            />
            <input type="hidden" name="cart_prod_name" class="cart_prod_name" value="<%= data.prod_name %>">
            <input
                type="hidden"
                name="prod_description"
                value="<%= data.prod_description %>"
                class="description_product"
            />
            <input type="hidden" name="cart_prod_date" value="" class="cart_prod_date">
            <input type="hidden" name="prod_price" class="cart_prod_price" value="<%= data.prod_price %>">
            <div class="promotion-item">
                <div class="promotion-img-box">
                    <img src="<%= data.prod_image %>" alt="">
                </div>
                <h2><%= data.prod_name %></h2>
                <p><%= data.prod_description %></p>
                <strong><%= data.prod_price %>$</strong>
                <% if (customer) { %>
                <button class="add-to-cart" type="submit">Add to Cart</button>
                <% } else { %>
                <button class="add-to-cart" disabled="true">Add to Cart</button>
                <% } %>
            </div>
        </form>
    <% }) %>
    </div>
    <%- include('footer') %>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="../OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src='../js/slider.js'></script>
</body>
</html>